body {
  background-color: #1c1e21 !important;
}

.navbar {
  background-color: #242526 !important;
}
.container {
  margin: 0 1rem !important;
}
.navbar-light .navbar-brand {
  color: #e4e6eb !important;
}
.navbar i {
  font-size: 20px;
  padding: 0.75rem 2rem;
}
.navbar i:hover {
  background-color: #3a3b3c;
  border-radius: 8px;
}

.listOfUsers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  justify-items: center;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 90rem;
}

.card {
  color: #e4e6eb !important;
  background-color: #242526 !important;
  border-radius: 8px !important;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
  transition: transform .3s ease-in-out;
}

.listOfUsers .card:hover {
  transform: scale(1.02);
}

.card i {
  margin-right: 8px;
}

.btn {
  display: block !important;
  margin: 0 auto !important;
  border-radius: 6px !important;
  background-color: #2374e1 !important;
  border-color: #2374e1 !important;
}

.btn:hover {
  background-color: #2D88FF !important;
  border-color: #2D88FF !important;
}

.userProfile {
  margin: 2rem auto;
}
.userProfile .card {
  margin: 2rem auto !important;
  padding: 1rem;
}

.table {
  margin: 0 !important;
}